<nav class="navbar" id="navbar">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/index.html" class="logo">
                    <div class="logo-icon">
                        <img src="/static/images/logo.webp" alt="Lodowe.com.pl logo" style="width: 100%; height: 100%; object-fit: contain;">
                    </div>
                    <span>LODOWE</span>
                </a>
                
                <ul class="nav-menu" id="navMenu">
                    <li><a href="/index.html#home" class="nav-link">Start</a></li>
                    <li><a href="/index.html#about" class="nav-link">O nas</a></li>
                    <li class="nav-dropdown">
                        <a href="/index.html#services" class="nav-link dropdown-desktop-link">
                            Usługi <i class="fas fa-chevron-down"></i>
                        </a>
                        <button class="nav-link dropdown-mobile-button" type="button">
                            Usługi <i class="fas fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/uslugi/rzezby-lodowe.html"><i class="fas fa-gem"></i> Rzeźby lodowe</a></li>
                            <li><a href="/uslugi/bary-lodowe.html"><i class="fas fa-glass-cheers"></i> Bary lodowe</a></li>
                            <li><a href="/uslugi/produkty-z-lodu.php"><i class="fas fa-cube"></i> Produkty z lodu</a></li>
                            <li><a href="/uslugi/pokazy-warsztaty.html"><i class="fas fa-users"></i> Pokazy i warsztaty</a></li>
                        </ul>
                    </li>
                    <li><a href="/index.html#portfolio" class="nav-link">Portfolio</a></li>
                    <li><a href="/index.html#testimonials" class="nav-link">Opinie</a></li>
                    <li><a href="/index.html#contact" class="nav-link">Kontakt</a></li>
                    <li><a href="/index.html#faq" class="nav-link">FAQ</a></li>
                </ul>
                
                <div class="nav-cta">
                    <a href="tel:+48511110265" class="btn-phone">
                        <i class="fas fa-phone"></i> 511 110 265
                    </a>
                    <button class="hamburger" id="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>